@media (max-width: 800px) {
  body {
    .flexbox {
      justify-content: space-around;
      font-size: 2em;
      p {
        text-align: center;
      }
    }
    .morella {
      font-size: 3em;
    }
  }
}
