@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {
  border: 1px dotted red;
  padding: 2px; 
}*/
body {
  background-color: rgba(219, 160, 84, 0.829);
  height: 100vh;
  color: white;
  .burger {
    background-color: white;
    font-size: 5em;
    border-radius: 50%;
    padding: 2px 5px;
    margin: 20px;
    color: rgba(219, 160, 84, 0.829);
    position: absolute;
    right: -10px;
    top: -10px;
  }
  .flexbox {
    border: 1px solid white;
    margin: 40px 40px 0;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 3em;
    padding: 30px;
    font-size: 20px;
    .up {
    }
    .down {
      text-align: right;
    }
  }
  .morella {
    border: 1px solid white;
    color: rgba(219, 160, 84, 0.829);
    background-color: white;
    margin: 0 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 0 0 10px 10px;
  }
}
@import "./_mobiles";
